* {
  font-family: 'Rubik';
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-blue: #00A3FF;
  --color-white: #F9F9F9;
  --color-gray: #BFBFBF;
  --color-dark: #06090F;
  --color-dark-200:  #151B26;
}

body {
  background-color: #06090F;
}
