.LastUpdate__container {
  display: flex;
  flex-direction: column;
  height: 870px;
  color: var(--color-white);
  margin-top: 40px;
}

.LastUpdate__container > div > h2 {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  text-align: start;
  margin-bottom: 20px;
}

.container__cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.LastUpdate__button {
  width: 100%;
  margin: 2rem 0;
}

.LastUpdate__button  button {
  width: 182px;
  height: 48px;
  color: var(--color-white);
  border-radius: 4px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  background-color: var(--color-dark-200);
  transition: 0.5s;
}

.LastUpdate__button > button:hover {
  width: 186px;
  justify-content: center;
  align-items: center;
  color: var(--color-dark);
  cursor: pointer;
  background-color: var(--color-white);
}
