.card {
  width: 188px;
  position: relative;
  height: 318px;
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  border-radius: 12px;
  text-align: center;
  align-items: center;
  justify-content: center; 
  text-decoration: none;
  color: var(--color-white);
  
}

.card:hover {
  top: -10px;
}

.card__title {
  z-index: 3;
  text-align: center;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  height: 40px;
  width: 100%;
}

.card__image {
  position: relative;
  display: block;
  width: 188px;
  height: 254px;
  background: linear-gradient(180deg, rgba(6, 9, 15, 0) 0%, #06090f 100%);
}



.card__image h2 {
  z-index: 2;
  position: relative;
  top: 200px;
  text-align: center;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  text-align: center;
}
